<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de inicio de sesión</title>
</head>
<body>
    <h1>Error de inicio de sesión</h1>
    <p>Si experimentas un error al intentar iniciar sesión, considera lo siguiente:</p>
    <ol>
        <li>Asegúrate de que estás usando el nombre de usuario y la clave correctos.</li>
        <li>Revisa tu conexión a Internet.</li>
        <li>Si el error continúa, intenta reiniciar la aplicación o tu dispositivo.</li>
        <li>Si aun continua su problema contacte a carlos al ****</li>
    </ol>
    <a href="{% url 'menu_ayuda' %}">Volver al menú de ayuda</a>
</body>
</html>
